//Family fonts
$fonts: 'Roboto', sans-serif;

//Text Style
//Default font size 16px
$headline_size: 2.25rem; //36px
$h1_size: 2rem; //32px
$h2_size: 1.125rem; //18px
$text_size: 1rem; //16px
$sub_text_size: 0.875rem; //14px
$x_small_size: 0.75rem; //12px
$xx_small_size: 0.625rem; //10px

//Line Height
$headline_lh: 2.625rem; //42px
$h1_lh: 2.375rem; //38px
$h2_lh: 1.3125rem; //21px
$text_lh: 1.125rem; //18px
$text_med_lh: 1.1875rem; //19px
$sub_text_lh: 1rem; //16px
$small_lh: 0.875rem; //14px
$xx_small_lh: 0.75rem; //12px

//Weight
$bold_weight: 700;
$medium_weight: 500;
$regular_weight: 300;

//Letter spacing
$regular_letter_spacing: 0.04em;
$wide_letter_spacing: 0.08em;