.counterContainer {
  display: flex;
  width: fit-content;
}

.counter {
  border-radius: 7px;
  padding: 5px;
  width: fit-content;
  height: fit-content;
  font-size: 13px;
  background-color:#ffe4e8;
  color: #808080;
  font-size: 17px;
  margin-right: 3px;
  min-width: 28px;
  text-align: center;
}