.popup-message {
  background-color: #CCF8FE;
  color: #02A0FC;
  border-radius: 71.5px;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  margin-top: 21px;
  margin-left: -19px;
  cursor: pointer;
  z-index: 101;
}