order-row {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  padding-top: 27px;
  padding-bottom: 27px;
  margin-bottom: 44px;
  border-radius: 10px;
}