.marketplace-header {
  background-color: white;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 10px;
  min-width: 100%;
}

.marketplace-header-buttons {
  display: flex;
  flex-direction: row;
}

.marketplace-table {
  margin-top: 35px;
}